:root{
    --main-color: #aed8e5;    
}

* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
  /*color: #505050;*/
}

.title {
    text-align: center;
    font-size: 30px;
}

html, body, #app {
    height: 95%;
}

.main-view {
    border: 1px solid var(--main-color);
    padding: 20px 30px 10px 30px;
    margin: 50px 30px 20px 30px;
    height: 95%;
    position: relative;
}